html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 15px;
  margin: 0;
}

.contents {
  position: relative;
  margin: 10px;
  top: 70px;
}

.contents h2 {
  font-size: 1.2em;
}

.contents h3 {
  font-size: 1.0em;
}

.contents ul {
  padding-left: 20px;
}

.question-actions {
  display: flex;
}

.question-actions div {
  margin-left: auto;
}
